#r1{
  font-size: 60px;
  border: inset 10px;
}

button{

	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:15px;
  color:white;
	font-family: 'Courier New', Courier, monospace;
	font-size:30px;
	padding:24px 300px;
	border-width: 5px;
	text-shadow:5px 5px 1px #283966;
}

body{
  background: rgb(255, 255, 0);
}